@import url('https://fonts.googleapis.com/css2?family=Miniver&family=Playwrite+IE+Guides&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins", "sans-serif";
}
body{
    background-color: #faf4f5;
}
:root{
    --white-color:#fff;
    --dark-color:#252525;
    --primary-color:#3b141c;
    --secondary-color:#f3961c;
    --light-pink-color:#faf4f5;
    --medium-gray-color:#ccc;


    --font-size-s:0.9rem;
    --font-size-n:1rem;
    --font-size-m:1.12rem;
    --font-size-l:1.5rem;
    --font-size-xl:2rem;
    --font-size-xxl:2.3rem;


    --font-weigth-normal:400;
    --font-weigth-medium:500;
    --font-weigth-semibold:600;
    --font-weigth-bold:700;

    --border-radius-s: 8px;
    --border-radius-m:30px;
    --border-radius-circle:50%;

    --site-max-width:1300px;



}
.navbarSection .nav-logo{
    color: var(--white-color);
    font-size: var(--font-size-xl);
    font-weight: var(--font-weight-semibold);
}

ul{
    list-style: none;
}

header .navbarSection{
   
    width:100%;
    background-color: #3b141c;
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: space-between;
}
.navbarSection .nav-logo .logo-text{
    color: #fff;
}
.navbarSection .Search-bar{
 
    display: flex;
    align-items: center;
    border: 2px solid var(--white-color);
    border-radius: 25px;
    padding: 8px 16px;
    width: 400px;
    background-color: rgb(237, 229, 229);
    
}
.navbarSection .Search-bar .input{
        border: none;
        outline: none;
        flex: 1;
        font-size: 16px;
        background-color: rgb(237, 229, 229);
      
}
.navbarSection .Search-bar .input::placeholder{
    opacity: 0.7;
    color: #252525;
}
.navbarSection .nav-menu{
    display: flex;
    gap: 10px;

}
.navbarSection .nav-logo .logo-text{
    color: var(--white-color);
    font-size: var(--font-size-xl);
    font-weight: var(--font-weight-semibold);

}
.navbarSection .nav-menu .nav-link{
    padding: 10px 18px;
    background: var(--primary-color);
    color: var(--white-color);
    font-size: var(--font-size-m);
    border-radius: var(--border-radius-m);
    transition: 0.3s ease;
    text-decoration: none;

}
.navbarSection .nav-menu .nav-link:hover{
     color: var(--primary-color);
     background: var( --secondary-color);
}
.navbarSection :where(#menu-close-button, #menu-open-button){
    display: none;
}
@media screen and (max-width: 900px){
    :root{
        --font-size-m:1rem;
        --font-size-l:1.3rem;
        --font-size-xl:1.5rem;
        --font-size-xxl:1.8rem;
    }

    .navbarSection :where(#menu-close-button, #menu-open-button){
        display: block;
        font-size: var(--font-size-l);

    }
    .navbarSection #menu-close-button{
        position: absolute;
        right: 30px;
        top:30px;
    }
    .navbarSection #menu-open-button{
        color: var(--white-color);

    }
    .navbarSection .nav-menu{
        display: block;
        position:fixed;
        left:-300px;
        top:0;
        width:300px;
        height:100%;
        display :flex;
        flex-direction:column;
        align-items: center; 
        padding-top:100px;
        background:var(--white-color);

    }
    .navbarSection .nav-menu .nav-link{
        color: var(--dark-color);
        font-size:var(--font-size-l);
        display: block;
        margin-top:17px;

    }
}

header .Outside_Menu_pic{
    align-items: center;
    display: flex;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 50px;
}
header .Outside_Menu_pic .Menu_Pic{
     height: 450px;
     width: 100%;
     background-image: url('coffee_menu.jpg');
     background-size: cover;
     background-position: center;
     background-repeat: no-repeat;
     
     padding: 80px 80px;
     
}
main .List{
 
    align-items: center;
    margin-top: 50px;
    justify-content: space-evenly;
    margin-left: 300px;
    margin-right: 300px;


    
}
main .List h1{
    color: #3b141c;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
}
main .List p{
    margin-bottom: 20px;
}

main .List .forMenu{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
    
}

main .List .forMenu .Menu_List{
    flex: 1 1 calc(50% - 50px);
    background-color: #fff;
    height: 500px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease;
    text-align: center;
    margin: 20px;
}
main .List .forMenu .Menu_List:hover{
    transform: scale(1.03);
}
main .List .forMenu .Menu_List img {
    width: 100%;
    height: 350px;
    object-fit: cover;
    border-radius: 8px 8px 0 0;
}

main .List .forMenu .Menu_List h3 {
    color: #3b141c;
    margin: 15px 0;
}

main .List .forMenu .Menu_List button {
    padding: 10px 15px;
    background-color: var(--primary-color);
    color: var(--white-color);
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
}

main .List .forMenu .Menu_List button:hover {
    background-color: var(--secondary-color);
}
footer{
    
    background-color: #3b141c;
    height: 300px;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;

}
footer .footerMain{
    width: 50%;
    color: #fff;
    text-align: center;
}
footer .footerMain .IdLink{
    display: flex;
    flex-direction: column;
    align-items: center;
   

}
footer .footerMain .IdLink a{
    text-decoration: none;
    color: #faf4f5;
    padding: auto;
    border-radius: 8px;
    background-color: #3b141c;
    border: none;
    margin: 5px 0;
}
footer .footerMain .IdLink a:hover{
    background-color: #f3961c;
}